*.pyc
*~
/.vscode
__pycache__
myvenv
db.sqlite3
/static
.DS_Store

#いくつかの投稿を作成したら、ローカル環境（PythonAnywhereではなく）に戻ることができます。 
#ここから、変更を加えるためにはあなたのローカル環境で作業する必要があります。 
#これがWeb開発の一般的なワークフローです。
#ローカルで変更し、それらの変更をGitHubにプッシュし、それからその変更を公開しているWebサーバーにプルしてきます。 
#これにより、公開しているWebサイトを壊すことなく作業したり試したりできます。 とってもクールでしょ？